.store-background {
    background-color: rgba(27,40,56,255);
}

.store-menu {
    background-color: rgba(23,26,33,255);
}

.store-item {
    background-color: rgba(22,32,45,255);
}

.center {
    display: flex;
    justify-content: center;
}

.justify {
    text-align: justify;
    text-justify: auto;
}

.add-to-cart-button {
    display: inline-block;
}